* {
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #ffffff;

}

ul {
    background-color: #efd4fc;
}

/*navigation*/

button#menuBtn { 
    background: #efd4fc;
    border:none;
    color: rgb(95, 20, 138);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    padding: 0.5rem;
    margin: 0;
    border: rgb(95, 20, 138) solid 3px;
    border-radius: 1px;
}

nav {background-color: #efd4fc;
    display: block; 
    color: rgb(95, 20, 138);
    text-align: center;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    z-index: 1000;
}

nav ul{
    margin:0; 
    font-size: 1.5rem;
    border: rgb(95, 20, 138) solid 1px;
    padding: .8rem;
}

nav li {
    list-style-type: none;
}

nav li.active {background-color: rgba(0,0,0,0.5);}
nav a:hover {background-color: rgba(0,0,0,0);}
nav ul.open {display: block;}
nav > ul {display: none;}


/*end navigation*/

/*headers*/

h1 {
    display: block;
    text-align: center;
    padding: 1em;
}

h3 {
    color:rgb(95, 20, 138);
}

#mainheader {
    background-color:rgb(95, 20, 138);
    color: #ffffff;
}

/*end headers*/

/*home page*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galleryImg {
    max-width: 280px;
}

.prev,
.next {
  cursor: pointer;
  position: relative;
  top: 30%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #000000;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.aboutMe {
    margin: 1em;
    padding: 1em;
    background-color:#efd4fc;
    border:rgb(95, 20, 138) solid 1px;
    border-radius: 5px;
    max-width: 300px;
}

.profile {
    margin: 1em;
    padding: 1em;
    background-color: #efd4fc;
    border:rgb(95, 20, 138) solid 1px;
    border-radius: 5px;
    max-width: 300px;
}
/* end home page*/

/* theatre page */
table, th {
    border:rgb(95, 20, 138) solid 3px;
    padding: 8px;
}

th {
    background-color:rgb(95, 20, 138);
    color: #ffffff;
}

tr {
    border:rgb(95, 20, 138) solid 2px;
    padding: 8px;
    margin: 8px;
}

 tr:nth-child(even) {
    background-color: #efd4fc;
}
/* end theatre page */

/* experience page */
#workExpBullets {
    margin: 10px;
}

.expCard {
    padding: 20px;
    margin: 10px;
    background-color: #efd4fc;
    border: rgb(95, 20, 138) solid 3px;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: left;
    
}